.search-bar{
	position: relative;
	height: 40px;
	background-color: #eeeeee;
	padding: 0 10px 10px 10px;
}

.search-input{
	background-color: white;
	border: none;
	width: calc(100% - 40px);
	font-size: 20px;
	height: 100%;
	text-indent: 10px;
}

.search-btn{
	text-align: center;
	float: right;
	width: 40px;
	height: 100%;
}

.results-title{
	padding: 5px 10px;
}

.groups{
	list-style-type: none;
	margin: 0 10px;
}

.group{
	position: relative;
	background-color: #eeeeee;
	margin-bottom: 10px;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color: black;
	display: block;
	border-bottom: 1px solid lightgrey;
	padding: 5px;
}

.group:hover{
	transition: 200ms;
	background-color: rgba(0,0,0,0.15);
}

.group-title{
	display: block;
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	color: black;
	height: 100%;
	text-indent: 5px;
}

.group-img-container{
	display: inline-block;
	height: 100%;
	float: left;
	border-radius: 100%;
	overflow: hidden;
}

.group-img-container > img{
	height: 100%;
	width: auto;
}
